* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    border: 1px solid grey;
}


/*картинки*/
.IMGnormal {
    border: 1px solid white;
    margin: 10px;
    float: left;
}

.IMGnormal:hover {
    border: 1px solid red;
}
/*конец картинок*/

/*Ошибки*/
.errorShow {
    position: absolute;
    text-align: center;
    background-color: red;
    width: 500px;
    height: 100px;
    left:30%;
    top:0;
    padding-top: 20px;
    overflow-y: auto;
}

.test {
    position: absolute;
    left:10px;
    top:10px;
    background-color: blue;
    color: white;
}
/**/

body {
    width: 1200px;
    margin: 0 auto;
    background-color: #aaaaaa;
    padding-left: 50px;
    padding-right: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.header_nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.header_logo {
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 50px;
}


.header_nav_item {
    width: 100px;
    height: 30px;
    display: inline-block;
    border-radius: 20px;
    border: 1px solid white;
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

.header_greating {
    text-align: right;
}

.header_greating_form {
    display: inline-block;
}

.container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.battle_round {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 100px;
    padding: 15px;
    margin-top:20px;
    margin-bottom: 20px;
    background-color: white;
}

.battle_round_title{
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    color: red;
}

.battle_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player, .enemy {
    width: 200px;
    text-align: center;
}

.hp_bar {
    text-align: center;
    display: inline-block;
    background-color: white;
    height: 20px;
    width: 120px;
}